.titulo{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.subtitulo{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.texto{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
.imagens{
    text-align: center;
    align-items: center;
}
.fontes{
    font-size: 20px;
    font-weight: 500;
}
.botao{
    font-size: 30px;
    font-weight: 500;
    align-items: center;
}

