h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}
.imagens{
    text-align: center;
    align-items: center;
}
.fontes{
    font-size: 20px;
    font-weight: 500;
}
.botao{
    font-size: 30px;
    font-weight: 500;
    align-items: center;
}
.botao-acessibilidade{
    font-size: 30px;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}
.rotacao-botao{ 
    transform: rotate(-90deg);
    transform-origin: right center;
}
.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}
.opcoes-acessibilidade button{
    margin-bottom: 5px;
}

